BOT_TOKEN=0000000000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GEMINI_API_KEY=
GEMINI_API_MODEL=gemini-2.5-flash
GEMINI_GATEKEEPER_MODEL=gemini-2.5-flash-8b

ELEVENLABS_API_KEY=your_elevenlabs_api_key_here

MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=gemini_bot