# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/

# Logs
logs/
*.log

# Docker
postgres_data/
mongodb_data/

# Specific ignores
output_tiles/
input_image.png
TODO
test1.py
test2.py
