[Unit]
Description=Gemini Telegram Bot
After=network.target

[Service]
WorkingDirectory=/opt/geminibot
ExecStartPre=/opt/geminibot/venv/bin/alembic upgrade head
ExecStart=/opt/geminibot/venv/bin/python /opt/geminibot/main.py
Restart=always
User=ubuntu
Group=ubuntu
Environment="PYTHONPATH=/opt/geminibot"

[Install]
WantedBy=multi-user.target